<p [ngClass]="{ loading: counterQuery.loading$ | async }">
	Count: {{ counterQuery.count$ | async }}
</p>
<p>Loading: {{ counterQuery.loading$ | async }}</p>
<p [ngClass]="{ loading: counterQuery.loading$ | async }">
	Total changes so far: {{ counterQuery.changes$ | async }}
</p>

<button mat-raised-button color="primary" (click)="counterService.increment()">
	Increment
</button>
<button mat-raised-button color="primary" (click)="counterService.decrement()">
	Decrement
</button>

<button mat-raised-button color="primary" (click)="counterService.slowIncrement()">
	Slow Increment
</button>
<button mat-raised-button color="primary" (click)="counterService.slowDecrement()">
	Slow Decrement
</button>
